<p>Add inventory item</p>
<div class="formFields">
  <form [formGroup]="itemForm" class="item-form">
    <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter name" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Enter price" formControlName="price">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter price" formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Enter price" formControlName="quantity">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let location of locations" [value]="location.name">
            {{location.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
</div>
<button mat-button (click)="closeDialog(false)">Cancel</button>
<button mat-button (click)="addInventoryItem()">Add item</button>